.contact{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    height: 600px;
}

.imagecontact{
    margin-left: 50px;
    background-color: rgba(0, 0, 255, 0.836);
}

img{
    mix-blend-mode: color-burn;
}

.contactinfo{
    position: absolute;
    top: 65%;
    left: 17%;
    height: 110px;
    width: 40%;
    color: white;
    padding: 4px;
    font-size: 17px;
    line-height: 18px;
}

.formcontact{
    width: 50%;
}

.contact input[type=text]{
    width: 500px;
    height:35px;
}

.contact textarea{
    width: 500px;
    height:200px;
}

.envoyer{
    width: 130px;
    height: 40px;
    background-color: blue;
    text-align: center;
}

.envoyer a{
    color: white;
    text-decoration: none;
    line-height: 39px;
}

.cartecontact{
    margin-top: 50px;
    margin-left: 100px;
}