.contact{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    height: 600px;
}

.imagecontact{
    margin-left: 50px;
    filter: brightness(25%);
}

.formcontact{
    width: 50%;
}

.contact input[type=text]{
    width: 500px;
    height:35px;
}

.contact textarea{
    width: 500px;
    height:200px;
}

.envoyer{
    border: 1px solid black;
    width: 130px;
    height: 40px;
    background-color: blue;
}

.cartecontact{
    margin-top: 50px;
    margin-left: 100px;
}