body{
    margin: 0;
    padding: 0;
}

.logo{
    margin-left: 60px;
    height: 100px;
    font-size: 80px;
    color: blue;
    float: left;
}

.navbar{
    margin-left: 100px;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style-type: none;
    padding: 30px;
    height: 1px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.navbarlink:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.384);
}

.banniere{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.prestations{
    position: absolute;
    background-color: rgba(0, 0, 255, 0.664);
    top: 200px;
    left: 50px;
    height: 110px;
    width: 40%;
    color: white;
    padding: 4px;
    font-size: 17px;
    line-height: 18px;
}

.prestations p{
    padding: 2px 16px;
}

.container{
    display: flex;
    margin-left: 100px;
}

.card{
    margin-top: 1rem;
    width: 350px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    margin-right: 30px;
}

.cardbody{
    padding: 2px 16px;
}

.cardbody p{
    color: brown;
    font-size: 20px;
    text-align: center;
}

.eye-cart-icons{
    margin-left: 70%;
    margin-top: -29%;
}

.images{
    width: 350px;
    height: 220px;
    background-color: rgba(255, 255, 0, 0.384);
}

.images img:hover{
    opacity: 0.5;
}

.voirplus {
    position: absolute;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 25px;
    background-color: blue;
    top: 86%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.voirplus p{
    text-align: center;
    margin-top: 10px;
}

.article{
    margin-left: 150px;
}

.article h1{
    color: blue;
    margin-top: 3rem;
}

.article p{
    margin-left: 1rem;
}

.article p:hover{
    background-color: rgba(255, 255, 0, 0.384);
}

.article i{
    color: brown;
}

.vertical-line-article{
    border-left: 2px solid blue;
    display: inline-block;
    height: 30px;
    margin: 0 20px;
}

footer{
    background-color: blue;
    margin-top: 40px;
    padding: 30px 0;
    display: flex;
}

.footerbody{
    display: flex;
    margin-left: 120px;
    color: white;
}

.vertical-line{
    border-left: 2px solid white;
    display: inline-block;
    height: 200px;
    margin-left: -30px;
}

footer p{
    color: white;
}

.agi{
    margin-right: 100px;
}

.agi p a{
    text-decoration: none;
    color: white;
}

.agi h2{
    width: 50px;
}

.agi h2:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.705);
}

.agi p a:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.705);
}

.liens{
    margin-right: 100px;
    margin-left: 80px;
}

.liens p a{
    text-decoration: none;
    color: white;
}

.liens p a:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.705);
}

.lienscontact{
    margin-right: 100px;
    margin-left: 80px;
}

.lienscontact p a{
    text-decoration: none;
    color: white;
}

.footerfin{
    margin-top: 250px;
    margin-left: -60%;
}

hr{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -100px;
}

.socialicons{
    display: flex;
    margin-left: 50px;
    margin-top: 120px;
}

.socialicons a{
    color: white;
    font-size: 30px;
}

.liensocial{
    width: 55px;
    height: 60px;
}

.liensocial:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.705);
}

.fab{
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook{
    background: #3B5998;
    border-radius: 100px;
}

.fa-linkedin{
    background: #007bb5;
    border-radius: 100px;
}

.fa-youtube{
    background: #bb0000;
    border-radius: 100px;
}
