.sous{
	margin-bottom: 40px;
	font-size: 14.5px;
	color: rgb(3, 56, 136);
}

.un{
	background-color: rgb(207, 205, 205);
	margin-top: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

section .phrase{
	float: left;
}

section .phrase h1{
	color: rgb(51, 51, 230);
	font-size: 50px;
	top: 38px;
	margin-left: 30px;
	position: relative;
	object-fit: cover;
}

section .phrase p{
	font-size: 15px;
	color: rgb(53, 48, 48);
	margin-left: 30px;
}

section .image img{
	width: 49%;
	margin-left: 51%;
	margin-top: -20%;
	margin-bottom: 2%;
}

section .img{
	display: flex;
	float: left;
}

.une{
	display: flex;
	margin-top: 100px;
	margin-left: 30px;
}

section .img img{
	width: 120%;
	margin-left: 50px;
}

section .texte{
	width: 50%;
	margin-left: 1rem;
}

section .texte h2{
	color: rgb(87, 87, 235);
}

section .texte p{
	color: rgb(70, 68, 68);
}

.suite{
	margin-top: 20px;
	height: 250px;
	margin-left: 120px;
}

section .titre h3{
	text-align: center;
	color: rgb(65, 65, 253);
}

section .titre p{
	margin-left: 50px;
	color: rgb(51, 50, 50);
}

.mesboutons{
	display: flex;
	margin-top: 40px;
	margin-left: 15%;
}

.essai{
	background-color: black;
	border-radius: 25px;
	width: 18%;
	text-align: center;
	line-height: 30px;
}

.essai:hover{
	cursor: pointer;
	background-color: gray;
}

.souscrire{
	background-color: black;
	border-radius: 25px;
	width: 23%;
	margin-left: 35%;
	text-align: center;
	line-height: 30px;
}

.souscrire:hover{
	cursor: pointer;
	background-color: gray;
}

.mesboutons a{
	text-decoration: none;
	color: white;
}