
.back{
    background-image: url(image/4.jpeg);
    height: 500px;
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;
}

.home{
    position: absolute;
    background-color: rgba(0, 0, 255, 0.664);
    top: 275px;
    left: 50px;
    height: 230px;
    width: 50%;
    color: white;
    padding: 4px;
    font-size: 20px;
    line-height: 18px;
}

.home h2{
    margin-top: 60px;
    padding: 2px 16px;
}

.home p{
    padding: 2px 16px;
}

.home h2 {
    color: white;
}

.home p{
    color: white;
}

.cardabonnements{
    margin-top: 1rem;
    width: 350px;
    height: 470px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    margin-right: 30px;
}

.imageabonnements{
    margin-right: 16px;
    margin-left: 30px;
    width: 290px;
    height: 300px;
    background-color: rgba(255, 255, 0, 0.384);
}

.imageabonnements img:hover{
    cursor: pointer;
    opacity: 0.5;
}

.cardlogicielbody h2{
    text-align: center;
}

.cardlogicielbody h2:hover{
    background-color: rgba(255, 255, 0, 0.384);
}